
<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Register</mat-card-title>
    </mat-card-header>

    <form class="example-form" (ngSubmit)="register()">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="email" [(ngModel)]="email" name="email">
        </mat-form-field>
      </mat-card-content>

      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Password" type="password" [(ngModel)]="password" name="password">
        </mat-form-field>
      </mat-card-content>

      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Confirm password" type="password" [(ngModel)]="password2" name="password">
        </mat-form-field>
      </mat-card-content>
      <button mat-stroked-button color="accent" class="btn-block" (click)="register()">Register</button>
      <button mat-stroked-button color="accent" class="btn-block login-button" (click)="login()">Login</button>
    </form>
    <br>
    <button mat-stroked-button color="warn" class="btn-block" (click)="loginGoolge()">Access with Google</button>
  </mat-card>

</div>
